<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>+93</key>
	<string>Afghanistan</string>
	<key>+355</key>
	<string>Albanien</string>
	<key>+213</key>
	<string>Algerien</string>
	<key>+1684</key>
	<string>Amerikanisch-Samoa</string>
	<key>+376</key>
	<string>Andorra</string>
	<key>+244</key>
	<string>Angola</string>
	<key>+1264</key>
	<string>Anguilla</string>
	<key>+672</key>
	<string>Antarktis</string>
	<key>+1268</key>
	<string>Antigua und Barbuda</string>
	<key>+54</key>
	<string>Argentinien</string>
	<key>+374</key>
	<string>Armenien</string>
	<key>+297</key>
	<string>Aruba</string>
	<key>+247</key>
	<string>Ascension</string>
	<key>+61</key>
	<string>Australien</string>
	<key>+43</key>
	<string>Österreich</string>
	<key>+994</key>
	<string>Aserbaidschan</string>
	<key>+1242</key>
	<string>Bahamas</string>
	<key>+973</key>
	<string>Bahrain</string>
	<key>+880</key>
	<string>Bangladesch</string>
	<key>+1246</key>
	<string>Barbados</string>
	<key>+375</key>
	<string>Weißrussland</string>
	<key>+32</key>
	<string>Belgien</string>
	<key>+501</key>
	<string>Belize</string>
	<key>+229</key>
	<string>Benin</string>
	<key>+1441</key>
	<string>Bermuda</string>
	<key>+975</key>
	<string>Bhutan</string>
	<key>+591</key>
	<string>Bolivien</string>
	<key>+387</key>
	<string>Bosnien und Herzegowina</string>
	<key>+267</key>
	<string>Botsuana</string>
	<key>+55</key>
	<string>Brasilien</string>
	<key>+246</key>
	<string>Britisches Territorium im Indischen Ozean</string>
	<key>+1284</key>
	<string>Britische Jungferninseln</string>
	<key>+673</key>
	<string>Brunei</string>
	<key>+359</key>
	<string>Bulgarien</string>
	<key>+226</key>
	<string>Burkina Faso</string>
	<key>+257</key>
	<string>Burundi</string>
	<key>+855</key>
	<string>Kambodscha</string>
	<key>+237</key>
	<string>Kamerun</string>
	<key>+1 </key>
	<string>Kanada</string>
	<key>+238</key>
	<string>Kap Verde</string>
	<key>+1345</key>
	<string>Kaimaninseln</string>
	<key>+236</key>
	<string>Zentralafrikanische Republik</string>
	<key>+235</key>
	<string>Tschad</string>
	<key>+56</key>
	<string>Chile</string>
	<key>+86</key>
	<string>China</string>
	<key>+61 </key>
	<string>Weihnachtsinsel</string>
	<key>+61  </key>
	<string>Kokosinseln (Keeling)</string>
	<key>+57</key>
	<string>Kolumbien</string>
	<key>+269</key>
	<string>Komoren</string>
	<key>+682</key>
	<string>Cookinseln</string>
	<key>+506</key>
	<string>Costa Rica</string>
	<key>+385</key>
	<string>Kroatien</string>
	<key>+53</key>
	<string>Kuba</string>
	<key>+5999</key>
	<string>Curaçao</string>
	<key>+357</key>
	<string>Zypern</string>
	<key>+420</key>
	<string>Tschechien</string>
	<key>+45</key>
	<string>Dänemark</string>
	<key>+253</key>
	<string>Dschibuti</string>
	<key>+1767</key>
	<string>Dominica</string>
	<key>+1809</key>
	<string>Dominikanische Republik</string>
	<key>+243</key>
	<string>DR Kongo</string>
	<key>+593</key>
	<string>Ecuador</string>
	<key>+20</key>
	<string>Ägypten</string>
	<key>+503</key>
	<string>El Salvador</string>
	<key>+240</key>
	<string>Äquatorialguinea</string>
	<key>+291</key>
	<string>Eritrea</string>
	<key>+372</key>
	<string>Estland</string>
	<key>+251</key>
	<string>Äthiopien</string>
	<key>+500</key>
	<string>Falklandinseln</string>
	<key>+298</key>
	<string>Färöer</string>
	<key>+691</key>
	<string>Mikronesien</string>
	<key>+679</key>
	<string>Fidschi</string>
	<key>+358</key>
	<string>Finnland</string>
	<key>+33</key>
	<string>Frankreich</string>
	<key>+594</key>
	<string>Französich-Guyana</string>
	<key>+689</key>
	<string>Französisch-Polynesien</string>
	<key>+241</key>
	<string>Gabun</string>
	<key>+220</key>
	<string>Gambia</string>
	<key>+995</key>
	<string>Georgien</string>
	<key>+49</key>
	<string>Deutschland</string>
	<key>+233</key>
	<string>Ghana</string>
	<key>+350</key>
	<string>Gibraltar</string>
	<key>+30</key>
	<string>Griechenland</string>
	<key>+299</key>
	<string>Grönland</string>
	<key>+1473</key>
	<string>Grenada</string>
	<key>+590</key>
	<string>Guadeloupe</string>
	<key>+1671</key>
	<string>Guam</string>
	<key>+502</key>
	<string>Guatemala</string>
	<key>+224</key>
	<string>Guinea</string>
	<key>+245</key>
	<string>Guinea-Bissau</string>
	<key>+592</key>
	<string>Guyana</string>
	<key>+509</key>
	<string>Haiti</string>
	<key>+504</key>
	<string>Honduras</string>
	<key>+852</key>
	<string>Hongkong</string>
	<key>+36</key>
	<string>Ungarn</string>
	<key>+354</key>
	<string>Island</string>
	<key>+91</key>
	<string>Indien</string>
	<key>+62</key>
	<string>Indonesien</string>
	<key>+964</key>
	<string>Irak</string>
	<key>+98</key>
	<string>Iran</string>
	<key>+353</key>
	<string>Irland</string>
	<key>+972</key>
	<string>Israel</string>
	<key>+39</key>
	<string>Italien</string>
	<key>+225</key>
	<string>Elfenbeinküste</string>
	<key>+1876</key>
	<string>Jamaika</string>
	<key>+81</key>
	<string>Japan</string>
	<key>+962</key>
	<string>Jordanien</string>
	<key>+7</key>
	<string>Kasachstan</string>
	<key>+254</key>
	<string>Kenia</string>
	<key>+686</key>
	<string>Kiribati</string>
	<key>+965</key>
	<string>Kuwait</string>
	<key>+996</key>
	<string>Kirgisistan</string>
	<key>+856</key>
	<string>Laos</string>
	<key>+371</key>
	<string>Lettland</string>
	<key>+961</key>
	<string>Libanon</string>
	<key>+266</key>
	<string>Lesotho</string>
	<key>+231</key>
	<string>Liberia</string>
	<key>+218</key>
	<string>Libyen</string>
	<key>+423</key>
	<string>Liechtenstein</string>
	<key>+370</key>
	<string>Litauen</string>
	<key>+352</key>
	<string>Luxemburg</string>
	<key>+853</key>
	<string>Macau</string>
	<key>+389</key>
	<string>Mazedonien</string>
	<key>+261</key>
	<string>Madagaskar</string>
	<key>+265</key>
	<string>Malawi</string>
	<key>+960</key>
	<string>Malediven</string>
	<key>+223</key>
	<string>Mali</string>
	<key>+356</key>
	<string>Malta</string>
	<key>+692</key>
	<string>Marshallinseln</string>
	<key>+596</key>
	<string>Martinique</string>
	<key>+60</key>
	<string>Malaysia</string>
	<key>+222</key>
	<string>Mauritanien</string>
	<key>+230</key>
	<string>Mauritius</string>
	<key>+262</key>
	<string>Mayotte</string>
	<key>+52</key>
	<string>Mexiko</string>
	<key>+373</key>
	<string>Moldawien</string>
	<key>+377</key>
	<string>Monaco</string>
	<key>+976</key>
	<string>Mongolei</string>
	<key>+1664</key>
	<string>Montserrat</string>
	<key>+382</key>
	<string>Montenegro</string>
	<key>+212</key>
	<string>Marokko</string>
	<key>+258</key>
	<string>Mosambik</string>
	<key>+95</key>
	<string>Myanmar</string>
	<key>+264</key>
	<string>Namibia</string>
	<key>+674</key>
	<string>Nauru</string>
	<key>+31</key>
	<string>Niederlande</string>
	<key>+599</key>
	<string>Niederländische Antillen</string>
	<key>+977</key>
	<string>Nepal</string>
	<key>+687</key>
	<string>Neukaledonien</string>
	<key>+64</key>
	<string>Neuseeland</string>
	<key>+505</key>
	<string>Nicaragua</string>
	<key>+227</key>
	<string>Niger</string>
	<key>+234</key>
	<string>Nigeria</string>
	<key>+683</key>
	<string>Niue</string>
	<key>+6723</key>
	<string>Norfolkinsel</string>
	<key>+850</key>
	<string>Nordkorea</string>
	<key>+1670</key>
	<string>Nördliche Marianen</string>
	<key>+47</key>
	<string>Norwegen</string>
	<key>+968</key>
	<string>Oman</string>
	<key>+92</key>
	<string>Pakistan</string>
	<key>+680</key>
	<string>Palau</string>
	<key>+970</key>
	<string>Palästinensische Gebiete</string>
	<key>+507</key>
	<string>Panama</string>
	<key>+595</key>
	<string>Paraguay</string>
	<key>+675</key>
	<string>Papua-Neuguinea</string>
	<key>+51</key>
	<string>Peru</string>
	<key>+63</key>
	<string>Philippinen</string>
	<key>+872</key>
	<string>Pitcairninseln</string>
	<key>+48</key>
	<string>Polen</string>
	<key>+351</key>
	<string>Portugal</string>
	<key>+1787</key>
	<string>Puerto Rico</string>
	<key>+974</key>
	<string>Katar</string>
	<key>+242</key>
	<string>Republik Kongo</string>
	<key>+262 </key>
	<string>Réunion</string>
	<key>+40</key>
	<string>Rumänien</string>
	<key>+7 </key>
	<string>Russland</string>
	<key>+250</key>
	<string>Ruanda</string>
	<key>+290</key>
	<string>St Helena</string>
	<key>+1758</key>
	<string>St Lucia</string>
	<key>+1869</key>
	<string>St Kitts und Nevis</string>
	<key>+508</key>
	<string>St Pierre und Miquelon</string>
	<key>+1784</key>
	<string>St Vincent und die Grenadinen</string>
	<key>+685</key>
	<string>Samoa</string>
	<key>+378</key>
	<string>San Marino</string>
	<key>+239</key>
	<string>São Tomé und Príncipe</string>
	<key>+966</key>
	<string>Saudi-Arabien</string>
	<key>+381</key>
	<string>Serbien</string>
	<key>+221</key>
	<string>Senegal</string>
	<key>+248</key>
	<string>Seychellen</string>
	<key>+232</key>
	<string>Sierra Leone</string>
	<key>+65</key>
	<string>Singapur</string>
	<key>+1721</key>
	<string>Sint Maarten</string>
	<key>+421</key>
	<string>Slowakei</string>
	<key>+386</key>
	<string>Slowenien</string>
	<key>+677</key>
	<string>Salomonen</string>
	<key>+252</key>
	<string>Somalia</string>
	<key>+27</key>
	<string>Südafrika</string>
	<key>+82</key>
	<string>Südkorea</string>
	<key>+211</key>
	<string>Südsudan</string>
	<key>+249</key>
	<string>Sudan</string>
	<key>+597</key>
	<string>Suriname</string>
	<key>+94</key>
	<string>Sri Lanka</string>
	<key>+34</key>
	<string>Spanien</string>
	<key>+268</key>
	<string>Swasiland</string>
	<key>+46</key>
	<string>Schweden</string>
	<key>+963</key>
	<string>Syrien</string>
	<key>+41</key>
	<string>Schweiz</string>
	<key>+886</key>
	<string>Taiwan</string>
	<key>+992</key>
	<string>Tadschikistan</string>
	<key>+255</key>
	<string>Tansania</string>
	<key>+66</key>
	<string>Thailand</string>
	<key>+670</key>
	<string>Osttimor</string>
	<key>+228</key>
	<string>Togo</string>
	<key>+690</key>
	<string>Tokelau</string>
	<key>+676</key>
	<string>Tonga</string>
	<key>+1868</key>
	<string>Trinidad und Tobago</string>
	<key>+216</key>
	<string>Tunesien</string>
	<key>+90</key>
	<string>Türkei</string>
	<key>+993</key>
	<string>Turkmenistan</string>
	<key>+649</key>
	<string>Turks- und Caicosinseln</string>
	<key>+688</key>
	<string>Tuvalu</string>
	<key>+256</key>
	<string>Uganda</string>
	<key>+380</key>
	<string>Ukraine</string>
	<key>+971</key>
	<string>Vereinigte Arabische Emirate</string>
	<key>+44</key>
	<string>Großbritannien</string>
	<key>+1340</key>
	<string>Amerikanische Jungferninseln</string>
	<key>+598</key>
	<string>Uruguay</string>
	<key>+1</key>
	<string>USA</string>
	<key>+998</key>
	<string>Usbekistan</string>
	<key>+379</key>
	<string>Vatikanstadt</string>
	<key>+678</key>
	<string>Vanuatu</string>
	<key>+58</key>
	<string>Venezuela</string>
	<key>+84</key>
	<string>Vietnam</string>
	<key>+212 </key>
	<string>Westsahara</string>
	<key>+967</key>
	<string>Jemen</string>
	<key>+260</key>
	<string>Sambia</string>
	<key>+263</key>
	<string>Simbabwe</string>
</dict>
</plist>
