<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Afghanistan</key>
	<dict>
		<key>CountryCode</key>
		<string>93</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Albanien</key>
	<dict>
		<key>CountryCode</key>
		<string>355</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Algerien</key>
	<dict>
		<key>CountryCode</key>
		<string>213</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Amerikanisch-Samoa</key>
	<dict>
		<key>CountryCode</key>
		<string>1684</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Andorra</key>
	<dict>
		<key>CountryCode</key>
		<string>376</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Angola</key>
	<dict>
		<key>CountryCode</key>
		<string>244</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Anguilla</key>
	<dict>
		<key>CountryCode</key>
		<string>1264</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Antarktis</key>
	<dict>
		<key>CountryCode</key>
		<string>672</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Antigua und Barbuda</key>
	<dict>
		<key>CountryCode</key>
		<string>1268</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Argentinien</key>
	<dict>
		<key>CountryCode</key>
		<string>54</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Armenien</key>
	<dict>
		<key>CountryCode</key>
		<string>374</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Aruba</key>
	<dict>
		<key>CountryCode</key>
		<string>297</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Australien</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Österreich</key>
	<dict>
		<key>CountryCode</key>
		<string>43</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Aserbaidschan</key>
	<dict>
		<key>CountryCode</key>
		<string>994</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bahamas</key>
	<dict>
		<key>CountryCode</key>
		<string>1242</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Bahrain</key>
	<dict>
		<key>CountryCode</key>
		<string>973</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bangladesch</key>
	<dict>
		<key>CountryCode</key>
		<string>880</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Barbados</key>
	<dict>
		<key>CountryCode</key>
		<string>1246</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Weißrussland</key>
	<dict>
		<key>CountryCode</key>
		<string>375</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Belgien</key>
	<dict>
		<key>CountryCode</key>
		<string>32</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Belize</key>
	<dict>
		<key>CountryCode</key>
		<string>501</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Benin</key>
	<dict>
		<key>CountryCode</key>
		<string>229</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bermuda</key>
	<dict>
		<key>CountryCode</key>
		<string>1441</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Bhutan</key>
	<dict>
		<key>CountryCode</key>
		<string>975</string>
		<key>Mobile</key>
		<string>17</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bolivien</key>
	<dict>
		<key>CountryCode</key>
		<string>591</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bosnien und Herzegowina</key>
	<dict>
		<key>CountryCode</key>
		<string>387</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Botsuana</key>
	<dict>
		<key>CountryCode</key>
		<string>267</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bouvetinsel</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Brasilien</key>
	<dict>
		<key>CountryCode</key>
		<string>55</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Britisches Territorium im Indischen Ozean</key>
	<dict>
		<key>CountryCode</key>
		<string>246</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Britische Jungferninseln</key>
	<dict>
		<key>CountryCode</key>
		<string>1284</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Brunei</key>
	<dict>
		<key>CountryCode</key>
		<string>673</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bulgarien</key>
	<dict>
		<key>CountryCode</key>
		<string>359</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Burkina Faso</key>
	<dict>
		<key>CountryCode</key>
		<string>226</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Burundi</key>
	<dict>
		<key>CountryCode</key>
		<string>257</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kambodscha</key>
	<dict>
		<key>CountryCode</key>
		<string>855</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Kamerun</key>
	<dict>
		<key>CountryCode</key>
		<string>237</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kanada</key>
	<dict>
		<key>CountryCode</key>
		<string>1</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Kap Verde</key>
	<dict>
		<key>CountryCode</key>
		<string>238</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kaimaninseln</key>
	<dict>
		<key>CountryCode</key>
		<string>1345</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Zentralafrikanische Republik</key>
	<dict>
		<key>CountryCode</key>
		<string>236</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tschad</key>
	<dict>
		<key>CountryCode</key>
		<string>235</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Chile</key>
	<dict>
		<key>CountryCode</key>
		<string>56</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>China</key>
	<dict>
		<key>CountryCode</key>
		<string>86</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Weihnachtsinsel</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Kokosinseln (Keeling)</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Kolumbien</key>
	<dict>
		<key>CountryCode</key>
		<string>57</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>009</string>
	</dict>
	<key>Komoren</key>
	<dict>
		<key>CountryCode</key>
		<string>269</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Cookinseln</key>
	<dict>
		<key>CountryCode</key>
		<string>682</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Costa Rica</key>
	<dict>
		<key>CountryCode</key>
		<string>506</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kroatien</key>
	<dict>
		<key>CountryCode</key>
		<string>385</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kuba</key>
	<dict>
		<key>CountryCode</key>
		<string>53</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>119</string>
	</dict>
	<key>Curaçao</key>
	<dict>
		<key>CountryCode</key>
		<string>5999</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Zypern</key>
	<dict>
		<key>CountryCode</key>
		<string>357</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tschechien</key>
	<dict>
		<key>CountryCode</key>
		<string>420</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Dänemark</key>
	<dict>
		<key>CountryCode</key>
		<string>45</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Dschibuti</key>
	<dict>
		<key>CountryCode</key>
		<string>253</string>
		<key>Mobile</key>
		<string>77</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Dominica</key>
	<dict>
		<key>CountryCode</key>
		<string>1767</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Dominikanische Republik</key>
	<dict>
		<key>CountryCode</key>
		<string>1809</string>
		<key>Mobile</key>
		<string>1829</string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>DR Kongo</key>
	<dict>
		<key>CountryCode</key>
		<string>243</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Ecuador</key>
	<dict>
		<key>CountryCode</key>
		<string>593</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Ägypten</key>
	<dict>
		<key>CountryCode</key>
		<string>20</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>El Salvador</key>
	<dict>
		<key>CountryCode</key>
		<string>503</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>England</key>
	<dict>
		<key>CountryCode</key>
		<string>44</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Äquatorialguinea</key>
	<dict>
		<key>CountryCode</key>
		<string>240</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Eritrea</key>
	<dict>
		<key>CountryCode</key>
		<string>291</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Estland</key>
	<dict>
		<key>CountryCode</key>
		<string>372</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Äthiopien</key>
	<dict>
		<key>CountryCode</key>
		<string>251</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Falklandinseln</key>
	<dict>
		<key>CountryCode</key>
		<string>500</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Färöer</key>
	<dict>
		<key>CountryCode</key>
		<string>298</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mikronesien</key>
	<dict>
		<key>CountryCode</key>
		<string>691</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Fidschi</key>
	<dict>
		<key>CountryCode</key>
		<string>679</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Finnland</key>
	<dict>
		<key>CountryCode</key>
		<string>358</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Frankreich</key>
	<dict>
		<key>CountryCode</key>
		<string>33</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Französisch-Guyana</key>
	<dict>
		<key>CountryCode</key>
		<string>594</string>
		<key>Mobile</key>
		<string>694</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Französisch-Polynesien</key>
	<dict>
		<key>CountryCode</key>
		<string>689</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Französische Südgebiete</key>
	<dict>
		<key>CountryCode</key>
		<string>596</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gabun</key>
	<dict>
		<key>CountryCode</key>
		<string>241</string>
		<key>Mobile</key>
		<string>0</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gambia</key>
	<dict>
		<key>CountryCode</key>
		<string>220</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Georgien</key>
	<dict>
		<key>CountryCode</key>
		<string>995</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Deutschland</key>
	<dict>
		<key>CountryCode</key>
		<string>49</string>
		<key>ISOCountryCode</key>
		<string>DE</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Ghana</key>
	<dict>
		<key>CountryCode</key>
		<string>233</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gibraltar</key>
	<dict>
		<key>CountryCode</key>
		<string>350</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Griechenland</key>
	<dict>
		<key>CountryCode</key>
		<string>30</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Grönland</key>
	<dict>
		<key>CountryCode</key>
		<string>299</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Grenada</key>
	<dict>
		<key>CountryCode</key>
		<string>1473</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Guadeloupe</key>
	<dict>
		<key>CountryCode</key>
		<string>590</string>
		<key>Mobile</key>
		<string>690</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guam</key>
	<dict>
		<key>CountryCode</key>
		<string>1671</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Guatemala</key>
	<dict>
		<key>CountryCode</key>
		<string>502</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guinea</key>
	<dict>
		<key>CountryCode</key>
		<string>224</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guinea-Bissau</key>
	<dict>
		<key>CountryCode</key>
		<string>245</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guyana</key>
	<dict>
		<key>CountryCode</key>
		<string>592</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Haiti</key>
	<dict>
		<key>CountryCode</key>
		<string>509</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Honduras</key>
	<dict>
		<key>CountryCode</key>
		<string>504</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Hongkong</key>
	<dict>
		<key>CountryCode</key>
		<string>852</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Ungarn</key>
	<dict>
		<key>CountryCode</key>
		<string>36</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Island</key>
	<dict>
		<key>CountryCode</key>
		<string>354</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Indien</key>
	<dict>
		<key>CountryCode</key>
		<string>91</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Indonesien</key>
	<dict>
		<key>CountryCode</key>
		<string>62</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Irak</key>
	<dict>
		<key>CountryCode</key>
		<string>964</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Iran</key>
	<dict>
		<key>CountryCode</key>
		<string>98</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Irland</key>
	<dict>
		<key>CountryCode</key>
		<string>353</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Israel</key>
	<dict>
		<key>CountryCode</key>
		<string>972</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Italien</key>
	<dict>
		<key>CountryCode</key>
		<string>39</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Elfenbeinküste</key>
	<dict>
		<key>CountryCode</key>
		<string>225</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Jamaika</key>
	<dict>
		<key>CountryCode</key>
		<string>1876</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Japan</key>
	<dict>
		<key>CountryCode</key>
		<string>81</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>010</string>
	</dict>
	<key>Jordanien</key>
	<dict>
		<key>CountryCode</key>
		<string>962</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kasachstan</key>
	<dict>
		<key>CountryCode</key>
		<string>7</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Kenia</key>
	<dict>
		<key>CountryCode</key>
		<string>254</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Kiribati</key>
	<dict>
		<key>CountryCode</key>
		<string>686</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kuwait</key>
	<dict>
		<key>CountryCode</key>
		<string>965</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kirgisistan</key>
	<dict>
		<key>CountryCode</key>
		<string>996</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Laos</key>
	<dict>
		<key>CountryCode</key>
		<string>856</string>
		<key>Mobile</key>
		<string>20</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Lettland</key>
	<dict>
		<key>CountryCode</key>
		<string>371</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Libanon</key>
	<dict>
		<key>CountryCode</key>
		<string>961</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Lesotho</key>
	<dict>
		<key>CountryCode</key>
		<string>266</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Liberia</key>
	<dict>
		<key>CountryCode</key>
		<string>231</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Libyen</key>
	<dict>
		<key>CountryCode</key>
		<string>218</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Liechtenstein</key>
	<dict>
		<key>CountryCode</key>
		<string>423</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Litauen</key>
	<dict>
		<key>CountryCode</key>
		<string>370</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Luxemburg</key>
	<dict>
		<key>CountryCode</key>
		<string>352</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Macau</key>
	<dict>
		<key>CountryCode</key>
		<string>853</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mazedonien</key>
	<dict>
		<key>CountryCode</key>
		<string>389</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Madagaskar</key>
	<dict>
		<key>CountryCode</key>
		<string>261</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malawi</key>
	<dict>
		<key>CountryCode</key>
		<string>265</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malediven</key>
	<dict>
		<key>CountryCode</key>
		<string>960</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mali</key>
	<dict>
		<key>CountryCode</key>
		<string>223</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malta</key>
	<dict>
		<key>CountryCode</key>
		<string>356</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Marshallinseln</key>
	<dict>
		<key>CountryCode</key>
		<string>692</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Martinique</key>
	<dict>
		<key>CountryCode</key>
		<string>596</string>
		<key>Mobile</key>
		<string>696</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malaysia</key>
	<dict>
		<key>CountryCode</key>
		<string>60</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mauritanien</key>
	<dict>
		<key>CountryCode</key>
		<string>222</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mauritius</key>
	<dict>
		<key>CountryCode</key>
		<string>230</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mayotte</key>
	<dict>
		<key>CountryCode</key>
		<string>262</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mexiko</key>
	<dict>
		<key>CountryCode</key>
		<string>52</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Moldawien</key>
	<dict>
		<key>CountryCode</key>
		<string>373</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Monaco</key>
	<dict>
		<key>CountryCode</key>
		<string>377</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mongolei</key>
	<dict>
		<key>CountryCode</key>
		<string>976</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Montserrat</key>
	<dict>
		<key>CountryCode</key>
		<string>1664</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Montenegro</key>
	<dict>
		<key>CountryCode</key>
		<string>382</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Marokko</key>
	<dict>
		<key>CountryCode</key>
		<string>212</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mosambik</key>
	<dict>
		<key>CountryCode</key>
		<string>258</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Myanmar</key>
	<dict>
		<key>CountryCode</key>
		<string>95</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Namibia</key>
	<dict>
		<key>CountryCode</key>
		<string>264</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nauru</key>
	<dict>
		<key>CountryCode</key>
		<string>674</string>
		<key>Mobile</key>
		<string>555</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Niederlande</key>
	<dict>
		<key>CountryCode</key>
		<string>31</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Niederländische Antillen</key>
	<dict>
		<key>CountryCode</key>
		<string>599</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nepal</key>
	<dict>
		<key>CountryCode</key>
		<string>977</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Neukaledonien</key>
	<dict>
		<key>CountryCode</key>
		<string>687</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Neuseeland</key>
	<dict>
		<key>CountryCode</key>
		<string>64</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nicaragua</key>
	<dict>
		<key>CountryCode</key>
		<string>505</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Niger</key>
	<dict>
		<key>CountryCode</key>
		<string>227</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nigeria</key>
	<dict>
		<key>CountryCode</key>
		<string>234</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>009</string>
	</dict>
	<key>Niue</key>
	<dict>
		<key>CountryCode</key>
		<string>683</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Norfolkinsel</key>
	<dict>
		<key>CountryCode</key>
		<string>6723</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Nordkorea</key>
	<dict>
		<key>CountryCode</key>
		<string>850</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nördliche Marianen</key>
	<dict>
		<key>CountryCode</key>
		<string>1670</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Norwegen</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Oman</key>
	<dict>
		<key>CountryCode</key>
		<string>968</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Pakistan</key>
	<dict>
		<key>CountryCode</key>
		<string>92</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Palau</key>
	<dict>
		<key>CountryCode</key>
		<string>680</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Palästinensische Gebiete</key>
	<dict>
		<key>CountryCode</key>
		<string>970</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Panama</key>
	<dict>
		<key>CountryCode</key>
		<string>507</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Paraguay</key>
	<dict>
		<key>CountryCode</key>
		<string>595</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>002</string>
	</dict>
	<key>Papua-Neuguinea</key>
	<dict>
		<key>CountryCode</key>
		<string>675</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Peru</key>
	<dict>
		<key>CountryCode</key>
		<string>51</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Philippinen</key>
	<dict>
		<key>CountryCode</key>
		<string>63</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Pitcairninseln</key>
	<dict>
		<key>CountryCode</key>
		<string>872</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Polen</key>
	<dict>
		<key>CountryCode</key>
		<string>48</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>CountryCode</key>
		<string>351</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Puerto Rico</key>
	<dict>
		<key>CountryCode</key>
		<string>1787</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Katar</key>
	<dict>
		<key>CountryCode</key>
		<string>974</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Republik Kongo</key>
	<dict>
		<key>CountryCode</key>
		<string>242</string>
		<key>Mobile</key>
		<string>0</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Réunion</key>
	<dict>
		<key>CountryCode</key>
		<string>262</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Rumänien</key>
	<dict>
		<key>CountryCode</key>
		<string>40</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Russland</key>
	<dict>
		<key>CountryCode</key>
		<string>7</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Ruanda</key>
	<dict>
		<key>CountryCode</key>
		<string>250</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>St Helena</key>
	<dict>
		<key>CountryCode</key>
		<string>290</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>St Lucia</key>
	<dict>
		<key>CountryCode</key>
		<string>1758</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>St Kitts und Nevis</key>
	<dict>
		<key>CountryCode</key>
		<string>1869</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>St Pierre und Miquelon</key>
	<dict>
		<key>CountryCode</key>
		<string>508</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>St Vincent und die Grenadinen</key>
	<dict>
		<key>CountryCode</key>
		<string>1784</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Samoa</key>
	<dict>
		<key>CountryCode</key>
		<string>685</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>San Marino</key>
	<dict>
		<key>CountryCode</key>
		<string>378</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>São Tomé und Príncipe</key>
	<dict>
		<key>CountryCode</key>
		<string>239</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Saudi-Arabien</key>
	<dict>
		<key>CountryCode</key>
		<string>966</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Serbien</key>
	<dict>
		<key>CountryCode</key>
		<string>381</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Senegal</key>
	<dict>
		<key>CountryCode</key>
		<string>221</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Seychellen</key>
	<dict>
		<key>CountryCode</key>
		<string>248</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sierra Leone</key>
	<dict>
		<key>CountryCode</key>
		<string>232</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Singapur</key>
	<dict>
		<key>CountryCode</key>
		<string>65</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Sint Maarten</key>
	<dict>
		<key>CountryCode</key>
		<string>1721</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Slowakei</key>
	<dict>
		<key>CountryCode</key>
		<string>421</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Slowenien</key>
	<dict>
		<key>CountryCode</key>
		<string>386</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Salomonen</key>
	<dict>
		<key>CountryCode</key>
		<string>677</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Somalia</key>
	<dict>
		<key>CountryCode</key>
		<string>252</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Südafrika</key>
	<dict>
		<key>CountryCode</key>
		<string>27</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Südkorea</key>
	<dict>
		<key>CountryCode</key>
		<string>82</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Südsudan</key>
	<dict>
		<key>CountryCode</key>
		<string>211</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sudan</key>
	<dict>
		<key>CountryCode</key>
		<string>249</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Suriname</key>
	<dict>
		<key>CountryCode</key>
		<string>597</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sri Lanka</key>
	<dict>
		<key>CountryCode</key>
		<string>94</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Spanien</key>
	<dict>
		<key>CountryCode</key>
		<string>34</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Svalbard</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Swasiland</key>
	<dict>
		<key>CountryCode</key>
		<string>268</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Schweden</key>
	<dict>
		<key>CountryCode</key>
		<string>46</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Syrien</key>
	<dict>
		<key>CountryCode</key>
		<string>963</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Schweiz</key>
	<dict>
		<key>CountryCode</key>
		<string>41</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>CountryCode</key>
		<string>886</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>002</string>
	</dict>
	<key>Tadschikistan</key>
	<dict>
		<key>CountryCode</key>
		<string>992</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Tansania</key>
	<dict>
		<key>CountryCode</key>
		<string>255</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Thailand</key>
	<dict>
		<key>CountryCode</key>
		<string>66</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Osttimor</key>
	<dict>
		<key>CountryCode</key>
		<string>670</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Togo</key>
	<dict>
		<key>CountryCode</key>
		<string>228</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tokelau</key>
	<dict>
		<key>CountryCode</key>
		<string>690</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tonga</key>
	<dict>
		<key>CountryCode</key>
		<string>676</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Trinidad und Tobago</key>
	<dict>
		<key>CountryCode</key>
		<string>1868</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Tunesien</key>
	<dict>
		<key>CountryCode</key>
		<string>216</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Türkei</key>
	<dict>
		<key>CountryCode</key>
		<string>90</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Turkmenistan</key>
	<dict>
		<key>CountryCode</key>
		<string>993</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Turks- und Caicosinseln</key>
	<dict>
		<key>CountryCode</key>
		<string>649</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0</string>
	</dict>
	<key>Tuvalu</key>
	<dict>
		<key>CountryCode</key>
		<string>688</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Uganda</key>
	<dict>
		<key>CountryCode</key>
		<string>256</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Ukraine</key>
	<dict>
		<key>CountryCode</key>
		<string>380</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Vereinigte Arabische Emirate</key>
	<dict>
		<key>CountryCode</key>
		<string>971</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Großbritannien</key>
	<dict>
		<key>CountryCode</key>
		<string>44</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Amerikanische Jungferninseln</key>
	<dict>
		<key>CountryCode</key>
		<string>1340</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Uruguay</key>
	<dict>
		<key>CountryCode</key>
		<string>598</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>USA</key>
	<dict>
		<key>CountryCode</key>
		<string>1</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Usbekistan</key>
	<dict>
		<key>CountryCode</key>
		<string>998</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Vatikanstadt</key>
	<dict>
		<key>CountryCode</key>
		<string>379</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Vanuatu</key>
	<dict>
		<key>CountryCode</key>
		<string>678</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Venezuela</key>
	<dict>
		<key>CountryCode</key>
		<string>58</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Vietnam</key>
	<dict>
		<key>CountryCode</key>
		<string>84</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Westsahara</key>
	<dict>
		<key>CountryCode</key>
		<string>212</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Jemen</key>
	<dict>
		<key>CountryCode</key>
		<string>967</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sambia</key>
	<dict>
		<key>CountryCode</key>
		<string>260</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Simbabwe</key>
	<dict>
		<key>CountryCode</key>
		<string>263</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
</dict>
</plist>
