<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AF</key>
	<string>Afghanistan</string>
	<key>AL</key>
	<string>Albanien</string>
	<key>DZ</key>
	<string>Algerien</string>
	<key>AS</key>
	<string>Amerikanisch-Samoa</string>
	<key>AD</key>
	<string>Andorra</string>
	<key>AO</key>
	<string>Angola</string>
	<key>AI</key>
	<string>Anguilla</string>
	<key>AQ</key>
	<string>Antarktis</string>
	<key>AG</key>
	<string>Antigua und Barbuda</string>
	<key>AR</key>
	<string>Argentinien</string>
	<key>AM</key>
	<string>Armenien</string>
	<key>AW</key>
	<string>Aruba</string>
	<key>AU</key>
	<string>Australien</string>
	<key>AT</key>
	<string>Österreich</string>
	<key>AZ</key>
	<string>Aserbaidschan</string>
	<key>BS</key>
	<string>Bahamas</string>
	<key>BH</key>
	<string>Bahrain</string>
	<key>BD</key>
	<string>Bangladesch</string>
	<key>BB</key>
	<string>Barbados</string>
	<key>BY</key>
	<string>Weißrussland</string>
	<key>BE</key>
	<string>Belgien</string>
	<key>BZ</key>
	<string>Belize</string>
	<key>BJ</key>
	<string>Benin</string>
	<key>BM</key>
	<string>Bermuda</string>
	<key>BT</key>
	<string>Bhutan</string>
	<key>BO</key>
	<string>Bolivien</string>
	<key>BA</key>
	<string>Bosnien und Herzegowina</string>
	<key>BW</key>
	<string>Botsuana</string>
	<key>BR</key>
	<string>Brasilien</string>
	<key>IO</key>
	<string>Britisches Territorium im Indischen Ozean</string>
	<key>VG</key>
	<string>Britische Jungferninseln</string>
	<key>BN</key>
	<string>Brunei</string>
	<key>BG</key>
	<string>Bulgarien</string>
	<key>BF</key>
	<string>Burkina Faso</string>
	<key>BI</key>
	<string>Burundi</string>
	<key>KH</key>
	<string>Kambodscha</string>
	<key>CM</key>
	<string>Kamerun</string>
	<key>CA</key>
	<string>Kanada</string>
	<key>CV</key>
	<string>Kap Verde</string>
	<key>KY</key>
	<string>Kaimaninseln</string>
	<key>CF</key>
	<string>Zentralafrikanische Republik</string>
	<key>TD</key>
	<string>Tschad</string>
	<key>CL</key>
	<string>Chile</string>
	<key>CN</key>
	<string>China</string>
	<key>CX</key>
	<string>Weihnachtsinsel</string>
	<key>CC</key>
	<string>Kokosinseln (Keeling)</string>
	<key>CO</key>
	<string>Kolumbien</string>
	<key>KM</key>
	<string>Komoren</string>
	<key>CK</key>
	<string>Cookinseln</string>
	<key>CR</key>
	<string>Costa Rica</string>
	<key>HR</key>
	<string>Kroatien</string>
	<key>CU</key>
	<string>Kuba</string>
	<key>CW</key>
	<string>Curaçao</string>
	<key>CY</key>
	<string>Zypern</string>
	<key>CZ</key>
	<string>Tschechien</string>
	<key>DK</key>
	<string>Dänemark</string>
	<key>DJ</key>
	<string>Dschibuti</string>
	<key>DM</key>
	<string>Dominica</string>
	<key>DO</key>
	<string>Dominikanische Republik</string>
	<key>CD</key>
	<string>DR Kongo</string>
	<key>EC</key>
	<string>Ecuador</string>
	<key>EG</key>
	<string>Ägypten</string>
	<key>SV</key>
	<string>El Salvador</string>
	<key>GQ</key>
	<string>Äquatorialguinea</string>
	<key>ER</key>
	<string>Eritrea</string>
	<key>EE</key>
	<string>Estland</string>
	<key>ET</key>
	<string>Äthiopien</string>
	<key>FK</key>
	<string>Falklandinseln</string>
	<key>FO</key>
	<string>Färöer</string>
	<key>FM</key>
	<string>Mikronesien</string>
	<key>FJ</key>
	<string>Fidschi</string>
	<key>FI</key>
	<string>Finnland</string>
	<key>FR</key>
	<string>Frankreich</string>
	<key>GF</key>
	<string>Französisch-Guyana</string>
	<key>PF</key>
	<string>Französisch-Polynesien</string>
	<key>TF</key>
	<string>Französische Südgebiete</string>
	<key>GA</key>
	<string>Gabun</string>
	<key>GM</key>
	<string>Gambia</string>
	<key>GE</key>
	<string>Georgien</string>
	<key>DE</key>
	<string>Deutschland</string>
	<key>GH</key>
	<string>Ghana</string>
	<key>GI</key>
	<string>Gibraltar</string>
	<key>GR</key>
	<string>Griechenland</string>
	<key>GL</key>
	<string>Grönland</string>
	<key>GD</key>
	<string>Grenada</string>
	<key>GP</key>
	<string>Guadeloupe</string>
	<key>GU</key>
	<string>Guam</string>
	<key>GT</key>
	<string>Guatemala</string>
	<key>GN</key>
	<string>Guinea</string>
	<key>GW</key>
	<string>Guinea-Bissau</string>
	<key>GY</key>
	<string>Guyana</string>
	<key>HT</key>
	<string>Haiti</string>
	<key>HN</key>
	<string>Honduras</string>
	<key>HK</key>
	<string>Hongkong</string>
	<key>HU</key>
	<string>Ungarn</string>
	<key>IS</key>
	<string>Island</string>
	<key>IN</key>
	<string>Indien</string>
	<key>ID</key>
	<string>Indonesien</string>
	<key>IR</key>
	<string>Iran</string>
	<key>IQ</key>
	<string>Irak</string>
	<key>IE</key>
	<string>Irland</string>
	<key>IL</key>
	<string>Israel</string>
	<key>IT</key>
	<string>Italien</string>
	<key>CI</key>
	<string>Elfenbeinküste</string>
	<key>JM</key>
	<string>Jamaika</string>
	<key>JP</key>
	<string>Japan</string>
	<key>JO</key>
	<string>Jordanien</string>
	<key>KZ</key>
	<string>Kasachstan</string>
	<key>KE</key>
	<string>Kenia</string>
	<key>KI</key>
	<string>Kiribati</string>
	<key>KW</key>
	<string>Kuwait</string>
	<key>KG</key>
	<string>Kirgisistan</string>
	<key>LA</key>
	<string>Laos</string>
	<key>LV</key>
	<string>Lettland</string>
	<key>LB</key>
	<string>Libanon</string>
	<key>LS</key>
	<string>Lesotho</string>
	<key>LR</key>
	<string>Liberia</string>
	<key>LY</key>
	<string>Libyen</string>
	<key>LI</key>
	<string>Liechtenstein</string>
	<key>LT</key>
	<string>Litauen</string>
	<key>LU</key>
	<string>Luxemburg</string>
	<key>MO</key>
	<string>Macau</string>
	<key>MK</key>
	<string>Mazedonien</string>
	<key>MG</key>
	<string>Madagaskar</string>
	<key>MW</key>
	<string>Malawi</string>
	<key>MV</key>
	<string>Malediven</string>
	<key>ML</key>
	<string>Mali</string>
	<key>MT</key>
	<string>Malta</string>
	<key>MH</key>
	<string>Marshallinseln</string>
	<key>MQ</key>
	<string>Martinique</string>
	<key>MY</key>
	<string>Malaysia</string>
	<key>MR</key>
	<string>Mauritanien</string>
	<key>MU</key>
	<string>Mauritius</string>
	<key>YT</key>
	<string>Mayotte</string>
	<key>MX</key>
	<string>Mexiko</string>
	<key>MD</key>
	<string>Moldawien</string>
	<key>MC</key>
	<string>Monaco</string>
	<key>MN</key>
	<string>Mongolei</string>
	<key>MS</key>
	<string>Montserrat</string>
	<key>ME</key>
	<string>Montenegro</string>
	<key>MA</key>
	<string>Marokko</string>
	<key>MZ</key>
	<string>Mosambik</string>
	<key>MM</key>
	<string>Myanmar</string>
	<key>NA</key>
	<string>Namibia</string>
	<key>NR</key>
	<string>Nauru</string>
	<key>NL</key>
	<string>Niederlande</string>
	<key>AN</key>
	<string>Niederländische Antillen</string>
	<key>NP</key>
	<string>Nepal</string>
	<key>NC</key>
	<string>Neukaledonien</string>
	<key>NZ</key>
	<string>Neuseeland</string>
	<key>NI</key>
	<string>Nicaragua</string>
	<key>NE</key>
	<string>Niger</string>
	<key>NG</key>
	<string>Nigeria</string>
	<key>NU</key>
	<string>Niue</string>
	<key>NF</key>
	<string>Norfolkinsel</string>
	<key>KP</key>
	<string>Nordkorea</string>
	<key>MP</key>
	<string>Nördliche Marianen</string>
	<key>NO</key>
	<string>Norwegen</string>
	<key>OM</key>
	<string>Oman</string>
	<key>PK</key>
	<string>Pakistan</string>
	<key>PW</key>
	<string>Palau</string>
	<key>PS</key>
	<string>Palästinensische Gebiete</string>
	<key>PA</key>
	<string>Panama</string>
	<key>PY</key>
	<string>Paraguay</string>
	<key>PG</key>
	<string>Papua-Neuguinea</string>
	<key>PE</key>
	<string>Peru</string>
	<key>PH</key>
	<string>Philippinen</string>
	<key>PN</key>
	<string>Pitcairninseln</string>
	<key>PL</key>
	<string>Polen</string>
	<key>PT</key>
	<string>Portugal</string>
	<key>PR</key>
	<string>Puerto Rico</string>
	<key>QA</key>
	<string>Katar</string>
	<key>CG</key>
	<string>Republik Kongo</string>
	<key>RE</key>
	<string>Réunion</string>
	<key>RO</key>
	<string>Rumänien</string>
	<key>RU</key>
	<string>Russland</string>
	<key>RW</key>
	<string>Ruanda</string>
	<key>SH</key>
	<string>St Helena</string>
	<key>LC</key>
	<string>St Lucia</string>
	<key>KN</key>
	<string>St Kitts und Nevis</string>
	<key>PM</key>
	<string>St Pierre und Miquelon</string>
	<key>VC</key>
	<string>St Vincent und die Grenadinen</string>
	<key>WS</key>
	<string>Samoa</string>
	<key>SM</key>
	<string>San Marino</string>
	<key>ST</key>
	<string>São Tomé and Príncipe</string>
	<key>SA</key>
	<string>Saudi-Arabien</string>
	<key>RS</key>
	<string>Serbien</string>
	<key>SN</key>
	<string>Senegal</string>
	<key>SC</key>
	<string>Seychellen</string>
	<key>SL</key>
	<string>Sierra Leone</string>
	<key>SG</key>
	<string>Singapur</string>
	<key>SX</key>
	<string>Sint Maarten</string>
	<key>SK</key>
	<string>Slowakei</string>
	<key>SI</key>
	<string>Slowenien</string>
	<key>SB</key>
	<string>Salomonen</string>
	<key>SO</key>
	<string>Somalia</string>
	<key>ZA</key>
	<string>Südafrika</string>
	<key>KR</key>
	<string>Südkorea</string>
	<key>SS</key>
	<string>Südsudan</string>
	<key>SD</key>
	<string>Sudan</string>
	<key>SR</key>
	<string>Suriname</string>
	<key>LK</key>
	<string>Sri Lanka</string>
	<key>ES</key>
	<string>Spanien</string>
	<key>SZ</key>
	<string>Swasiland</string>
	<key>SE</key>
	<string>Schweden</string>
	<key>SY</key>
	<string>Syrien</string>
	<key>CH</key>
	<string>Schweiz</string>
	<key>TW</key>
	<string>Taiwan</string>
	<key>TJ</key>
	<string>Tadschikistan</string>
	<key>TZ</key>
	<string>Tansania</string>
	<key>TH</key>
	<string>Thailand</string>
	<key>TL</key>
	<string>Osttimor</string>
	<key>TG</key>
	<string>Togo</string>
	<key>TK</key>
	<string>Tokelau</string>
	<key>TO</key>
	<string>Tonga</string>
	<key>TT</key>
	<string>Trinidad und Tobago</string>
	<key>TN</key>
	<string>Tunesien</string>
	<key>TR</key>
	<string>Türkei</string>
	<key>TM</key>
	<string>Turkmenistan</string>
	<key>TC</key>
	<string>Turks- und Caicosinseln</string>
	<key>TV</key>
	<string>Tuvalu</string>
	<key>UG</key>
	<string>Uganda</string>
	<key>UA</key>
	<string>Ukraine</string>
	<key>AE</key>
	<string>Vereinigte Arabische Emirate</string>
	<key>UK</key>
	<string>Großbritannien</string>
	<key>VI</key>
	<string>Amerikanische Jungferninseln</string>
	<key>UY</key>
	<string>Uruguay</string>
	<key>US</key>
	<string>USA</string>
	<key>UZ</key>
	<string>Usbekistan</string>
	<key>VA</key>
	<string>Vatikanstadt</string>
	<key>VU</key>
	<string>Vanuatu</string>
	<key>VE</key>
	<string>Venezuela</string>
	<key>VN</key>
	<string>Vietnam</string>
	<key>EH</key>
	<string>Westsahara</string>
	<key>YE</key>
	<string>Jemen</string>
	<key>ZM</key>
	<string>Sambia</string>
	<key>ZW</key>
	<string>Simbabwe</string>
</dict>
</plist>
