<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Afganistán</key>
	<dict>
		<key>CountryCode</key>
		<string>93</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Albania</key>
	<dict>
		<key>CountryCode</key>
		<string>355</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Argelia</key>
	<dict>
		<key>CountryCode</key>
		<string>213</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Samoa Americana</key>
	<dict>
		<key>CountryCode</key>
		<string>1684</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Andorra</key>
	<dict>
		<key>CountryCode</key>
		<string>376</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Angola</key>
	<dict>
		<key>CountryCode</key>
		<string>244</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Anguilla</key>
	<dict>
		<key>CountryCode</key>
		<string>1264</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Antártida</key>
	<dict>
		<key>CountryCode</key>
		<string>672</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Antigua y Barbuda</key>
	<dict>
		<key>CountryCode</key>
		<string>1268</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Argentina</key>
	<dict>
		<key>CountryCode</key>
		<string>54</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Armenia</key>
	<dict>
		<key>CountryCode</key>
		<string>374</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Aruba</key>
	<dict>
		<key>CountryCode</key>
		<string>297</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Australia</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Austria</key>
	<dict>
		<key>CountryCode</key>
		<string>43</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Azerbaiyán</key>
	<dict>
		<key>CountryCode</key>
		<string>994</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bahamas</key>
	<dict>
		<key>CountryCode</key>
		<string>1242</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Bahrein</key>
	<dict>
		<key>CountryCode</key>
		<string>973</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bangladesh</key>
	<dict>
		<key>CountryCode</key>
		<string>880</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Barbados</key>
	<dict>
		<key>CountryCode</key>
		<string>1246</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Bielorrusia</key>
	<dict>
		<key>CountryCode</key>
		<string>375</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Bélgica</key>
	<dict>
		<key>CountryCode</key>
		<string>32</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Belice</key>
	<dict>
		<key>CountryCode</key>
		<string>501</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Benín</key>
	<dict>
		<key>CountryCode</key>
		<string>229</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bermuda</key>
	<dict>
		<key>CountryCode</key>
		<string>1441</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Bután</key>
	<dict>
		<key>CountryCode</key>
		<string>975</string>
		<key>Mobile</key>
		<string>17</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bolivia</key>
	<dict>
		<key>CountryCode</key>
		<string>591</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bosnia-Herzegovina</key>
	<dict>
		<key>CountryCode</key>
		<string>387</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Botswana</key>
	<dict>
		<key>CountryCode</key>
		<string>267</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Isla Bouvet</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Brasil</key>
	<dict>
		<key>CountryCode</key>
		<string>55</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Territorio Británico del Océano Índico</key>
	<dict>
		<key>CountryCode</key>
		<string>246</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Vírgenes Británicas</key>
	<dict>
		<key>CountryCode</key>
		<string>1284</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Brunei</key>
	<dict>
		<key>CountryCode</key>
		<string>673</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Bulgaria</key>
	<dict>
		<key>CountryCode</key>
		<string>359</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Burkina Faso</key>
	<dict>
		<key>CountryCode</key>
		<string>226</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Burundi</key>
	<dict>
		<key>CountryCode</key>
		<string>257</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Camboya</key>
	<dict>
		<key>CountryCode</key>
		<string>855</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Camerún</key>
	<dict>
		<key>CountryCode</key>
		<string>237</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Canadá</key>
	<dict>
		<key>CountryCode</key>
		<string>1</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Cabo Verde</key>
	<dict>
		<key>CountryCode</key>
		<string>238</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Caimán</key>
	<dict>
		<key>CountryCode</key>
		<string>1345</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>República Centroafricana</key>
	<dict>
		<key>CountryCode</key>
		<string>236</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Chad</key>
	<dict>
		<key>CountryCode</key>
		<string>235</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Chile</key>
	<dict>
		<key>CountryCode</key>
		<string>56</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>China</key>
	<dict>
		<key>CountryCode</key>
		<string>86</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Isla de Navidad</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Islas Cocos</key>
	<dict>
		<key>CountryCode</key>
		<string>61</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Colombia</key>
	<dict>
		<key>CountryCode</key>
		<string>57</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>009</string>
	</dict>
	<key>Comores</key>
	<dict>
		<key>CountryCode</key>
		<string>269</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Cook</key>
	<dict>
		<key>CountryCode</key>
		<string>682</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Costa Rica</key>
	<dict>
		<key>CountryCode</key>
		<string>506</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Croacia</key>
	<dict>
		<key>CountryCode</key>
		<string>385</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Cuba</key>
	<dict>
		<key>CountryCode</key>
		<string>53</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>119</string>
	</dict>
	<key>Curaçao</key>
	<dict>
		<key>CountryCode</key>
		<string>5999</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Chipre</key>
	<dict>
		<key>CountryCode</key>
		<string>357</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>República Checa</key>
	<dict>
		<key>CountryCode</key>
		<string>420</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Dinamarca</key>
	<dict>
		<key>CountryCode</key>
		<string>45</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Djibouti</key>
	<dict>
		<key>CountryCode</key>
		<string>253</string>
		<key>Mobile</key>
		<string>77</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Dominica</key>
	<dict>
		<key>CountryCode</key>
		<string>1767</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>República Dominicana</key>
	<dict>
		<key>CountryCode</key>
		<string>1809</string>
		<key>Mobile</key>
		<string>1829</string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>RD del Congo</key>
	<dict>
		<key>CountryCode</key>
		<string>243</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Ecuador</key>
	<dict>
		<key>CountryCode</key>
		<string>593</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Egipto</key>
	<dict>
		<key>CountryCode</key>
		<string>20</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>El Salvador</key>
	<dict>
		<key>CountryCode</key>
		<string>503</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Inglaterra</key>
	<dict>
		<key>CountryCode</key>
		<string>44</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guinea Ecuatorial</key>
	<dict>
		<key>CountryCode</key>
		<string>240</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Eritrea</key>
	<dict>
		<key>CountryCode</key>
		<string>291</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Estonia</key>
	<dict>
		<key>CountryCode</key>
		<string>372</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Etiopía</key>
	<dict>
		<key>CountryCode</key>
		<string>251</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Malvinas</key>
	<dict>
		<key>CountryCode</key>
		<string>500</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Feroe</key>
	<dict>
		<key>CountryCode</key>
		<string>298</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Micronesia</key>
	<dict>
		<key>CountryCode</key>
		<string>691</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Fiyi</key>
	<dict>
		<key>CountryCode</key>
		<string>679</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Finlandia</key>
	<dict>
		<key>CountryCode</key>
		<string>358</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Francia</key>
	<dict>
		<key>CountryCode</key>
		<string>33</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guayana Francesa</key>
	<dict>
		<key>CountryCode</key>
		<string>594</string>
		<key>Mobile</key>
		<string>694</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Polinesia Francesa</key>
	<dict>
		<key>CountryCode</key>
		<string>689</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tierras Australes Francesas</key>
	<dict>
		<key>CountryCode</key>
		<string>596</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gabón</key>
	<dict>
		<key>CountryCode</key>
		<string>241</string>
		<key>Mobile</key>
		<string>0</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gambia</key>
	<dict>
		<key>CountryCode</key>
		<string>220</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Georgia</key>
	<dict>
		<key>CountryCode</key>
		<string>995</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Alemania</key>
	<dict>
		<key>CountryCode</key>
		<string>49</string>
		<key>ISOCountryCode</key>
		<string>DE</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Ghana</key>
	<dict>
		<key>CountryCode</key>
		<string>233</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Gibraltar</key>
	<dict>
		<key>CountryCode</key>
		<string>350</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Grecia</key>
	<dict>
		<key>CountryCode</key>
		<string>30</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Groenlandia</key>
	<dict>
		<key>CountryCode</key>
		<string>299</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Granada</key>
	<dict>
		<key>CountryCode</key>
		<string>1473</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Guadalupe</key>
	<dict>
		<key>CountryCode</key>
		<string>590</string>
		<key>Mobile</key>
		<string>690</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guam</key>
	<dict>
		<key>CountryCode</key>
		<string>1671</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Guatemala</key>
	<dict>
		<key>CountryCode</key>
		<string>502</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guinea</key>
	<dict>
		<key>CountryCode</key>
		<string>224</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guinea Bissau</key>
	<dict>
		<key>CountryCode</key>
		<string>245</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Guyana</key>
	<dict>
		<key>CountryCode</key>
		<string>592</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Haiti</key>
	<dict>
		<key>CountryCode</key>
		<string>509</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Honduras</key>
	<dict>
		<key>CountryCode</key>
		<string>504</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Hong Kong</key>
	<dict>
		<key>CountryCode</key>
		<string>852</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Hungría</key>
	<dict>
		<key>CountryCode</key>
		<string>36</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islandia</key>
	<dict>
		<key>CountryCode</key>
		<string>354</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>India</key>
	<dict>
		<key>CountryCode</key>
		<string>91</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Indonesia</key>
	<dict>
		<key>CountryCode</key>
		<string>62</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Iraq</key>
	<dict>
		<key>CountryCode</key>
		<string>964</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Irán</key>
	<dict>
		<key>CountryCode</key>
		<string>98</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Irlanda</key>
	<dict>
		<key>CountryCode</key>
		<string>353</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Israel</key>
	<dict>
		<key>CountryCode</key>
		<string>972</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Italia</key>
	<dict>
		<key>CountryCode</key>
		<string>39</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Costa de Marfil</key>
	<dict>
		<key>CountryCode</key>
		<string>225</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Jamaica</key>
	<dict>
		<key>CountryCode</key>
		<string>1876</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Japón</key>
	<dict>
		<key>CountryCode</key>
		<string>81</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>010</string>
	</dict>
	<key>Jordania</key>
	<dict>
		<key>CountryCode</key>
		<string>962</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kazajstán</key>
	<dict>
		<key>CountryCode</key>
		<string>7</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Kenia</key>
	<dict>
		<key>CountryCode</key>
		<string>254</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Kiribati</key>
	<dict>
		<key>CountryCode</key>
		<string>686</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kuwait</key>
	<dict>
		<key>CountryCode</key>
		<string>965</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Kirguistán</key>
	<dict>
		<key>CountryCode</key>
		<string>996</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Laos</key>
	<dict>
		<key>CountryCode</key>
		<string>856</string>
		<key>Mobile</key>
		<string>20</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Letonia</key>
	<dict>
		<key>CountryCode</key>
		<string>371</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Líbano</key>
	<dict>
		<key>CountryCode</key>
		<string>961</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Lesotho</key>
	<dict>
		<key>CountryCode</key>
		<string>266</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Liberia</key>
	<dict>
		<key>CountryCode</key>
		<string>231</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Libia</key>
	<dict>
		<key>CountryCode</key>
		<string>218</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Liechtenstein</key>
	<dict>
		<key>CountryCode</key>
		<string>423</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Lituania</key>
	<dict>
		<key>CountryCode</key>
		<string>370</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Luxemburgo</key>
	<dict>
		<key>CountryCode</key>
		<string>352</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Macao</key>
	<dict>
		<key>CountryCode</key>
		<string>853</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Macedonia</key>
	<dict>
		<key>CountryCode</key>
		<string>389</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Madagascar</key>
	<dict>
		<key>CountryCode</key>
		<string>261</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malawi</key>
	<dict>
		<key>CountryCode</key>
		<string>265</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Maldivas</key>
	<dict>
		<key>CountryCode</key>
		<string>960</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malí</key>
	<dict>
		<key>CountryCode</key>
		<string>223</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malta</key>
	<dict>
		<key>CountryCode</key>
		<string>356</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Marshall</key>
	<dict>
		<key>CountryCode</key>
		<string>692</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Martinica</key>
	<dict>
		<key>CountryCode</key>
		<string>596</string>
		<key>Mobile</key>
		<string>696</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Malasia</key>
	<dict>
		<key>CountryCode</key>
		<string>60</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mauritania</key>
	<dict>
		<key>CountryCode</key>
		<string>222</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mauricio</key>
	<dict>
		<key>CountryCode</key>
		<string>230</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mayotte</key>
	<dict>
		<key>CountryCode</key>
		<string>262</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>México</key>
	<dict>
		<key>CountryCode</key>
		<string>52</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Moldavia</key>
	<dict>
		<key>CountryCode</key>
		<string>373</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mónaco</key>
	<dict>
		<key>CountryCode</key>
		<string>377</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mongolia</key>
	<dict>
		<key>CountryCode</key>
		<string>976</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Montserrat</key>
	<dict>
		<key>CountryCode</key>
		<string>1664</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Montenegro</key>
	<dict>
		<key>CountryCode</key>
		<string>382</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Marruecos</key>
	<dict>
		<key>CountryCode</key>
		<string>212</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Mozambique</key>
	<dict>
		<key>CountryCode</key>
		<string>258</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Myanmar</key>
	<dict>
		<key>CountryCode</key>
		<string>95</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Namibia</key>
	<dict>
		<key>CountryCode</key>
		<string>264</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nauru</key>
	<dict>
		<key>CountryCode</key>
		<string>674</string>
		<key>Mobile</key>
		<string>555</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Holanda</key>
	<dict>
		<key>CountryCode</key>
		<string>31</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Antillas Holandesas</key>
	<dict>
		<key>CountryCode</key>
		<string>599</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nepal</key>
	<dict>
		<key>CountryCode</key>
		<string>977</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nueva Caledonia</key>
	<dict>
		<key>CountryCode</key>
		<string>687</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nueva Zelanda</key>
	<dict>
		<key>CountryCode</key>
		<string>64</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nicaragua</key>
	<dict>
		<key>CountryCode</key>
		<string>505</string>
		<key>Mobile</key>
		<string>8</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Niger</key>
	<dict>
		<key>CountryCode</key>
		<string>227</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Nigeria</key>
	<dict>
		<key>CountryCode</key>
		<string>234</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>009</string>
	</dict>
	<key>Niue</key>
	<dict>
		<key>CountryCode</key>
		<string>683</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Isla Norfolk</key>
	<dict>
		<key>CountryCode</key>
		<string>6723</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0011</string>
	</dict>
	<key>Corea del Norte</key>
	<dict>
		<key>CountryCode</key>
		<string>850</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Marianas del Norte</key>
	<dict>
		<key>CountryCode</key>
		<string>1670</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Noruega</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Omán</key>
	<dict>
		<key>CountryCode</key>
		<string>968</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Pakistán</key>
	<dict>
		<key>CountryCode</key>
		<string>92</string>
		<key>Mobile</key>
		<string>3</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Palau</key>
	<dict>
		<key>CountryCode</key>
		<string>680</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Territorios Palestinos</key>
	<dict>
		<key>CountryCode</key>
		<string>970</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Panamá</key>
	<dict>
		<key>CountryCode</key>
		<string>507</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Paraguay</key>
	<dict>
		<key>CountryCode</key>
		<string>595</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>002</string>
	</dict>
	<key>Papúa Nueva Guinea</key>
	<dict>
		<key>CountryCode</key>
		<string>675</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Perú</key>
	<dict>
		<key>CountryCode</key>
		<string>51</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Filipinas</key>
	<dict>
		<key>CountryCode</key>
		<string>63</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Isla Pitcairn</key>
	<dict>
		<key>CountryCode</key>
		<string>872</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Polonia</key>
	<dict>
		<key>CountryCode</key>
		<string>48</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Portugal</key>
	<dict>
		<key>CountryCode</key>
		<string>351</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Puerto Rico</key>
	<dict>
		<key>CountryCode</key>
		<string>1787</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Qatar</key>
	<dict>
		<key>CountryCode</key>
		<string>974</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>República del Congo</key>
	<dict>
		<key>CountryCode</key>
		<string>242</string>
		<key>Mobile</key>
		<string>0</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Réunion</key>
	<dict>
		<key>CountryCode</key>
		<string>262</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Rumanía</key>
	<dict>
		<key>CountryCode</key>
		<string>40</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Rusia</key>
	<dict>
		<key>CountryCode</key>
		<string>7</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Ruanda</key>
	<dict>
		<key>CountryCode</key>
		<string>250</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Santa Elena</key>
	<dict>
		<key>CountryCode</key>
		<string>290</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Santa Lucía</key>
	<dict>
		<key>CountryCode</key>
		<string>1758</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>San Cristóbal y Nieves</key>
	<dict>
		<key>CountryCode</key>
		<string>1869</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>San Pedro y Miquelón</key>
	<dict>
		<key>CountryCode</key>
		<string>508</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>San Vicente y Granadinas</key>
	<dict>
		<key>CountryCode</key>
		<string>1784</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Samoa</key>
	<dict>
		<key>CountryCode</key>
		<string>685</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>San Marino</key>
	<dict>
		<key>CountryCode</key>
		<string>378</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>São Tomé y Príncipe</key>
	<dict>
		<key>CountryCode</key>
		<string>239</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Arabia Saudita</key>
	<dict>
		<key>CountryCode</key>
		<string>966</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Serbia</key>
	<dict>
		<key>CountryCode</key>
		<string>381</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Senegal</key>
	<dict>
		<key>CountryCode</key>
		<string>221</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Seychelles</key>
	<dict>
		<key>CountryCode</key>
		<string>248</string>
		<key>Mobile</key>
		<string>2</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sierra Leona</key>
	<dict>
		<key>CountryCode</key>
		<string>232</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Singapur</key>
	<dict>
		<key>CountryCode</key>
		<string>65</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Sint Maarten</key>
	<dict>
		<key>CountryCode</key>
		<string>1721</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Eslovaquia</key>
	<dict>
		<key>CountryCode</key>
		<string>421</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Eslovenia</key>
	<dict>
		<key>CountryCode</key>
		<string>386</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Salomón</key>
	<dict>
		<key>CountryCode</key>
		<string>677</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Somalia</key>
	<dict>
		<key>CountryCode</key>
		<string>252</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sudáfrica</key>
	<dict>
		<key>CountryCode</key>
		<string>27</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Corea del Sur</key>
	<dict>
		<key>CountryCode</key>
		<string>82</string>
		<key>Mobile</key>
		<string>1</string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Sudán del Sur</key>
	<dict>
		<key>CountryCode</key>
		<string>211</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sudán</key>
	<dict>
		<key>CountryCode</key>
		<string>249</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Suriname</key>
	<dict>
		<key>CountryCode</key>
		<string>597</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sri Lanka</key>
	<dict>
		<key>CountryCode</key>
		<string>94</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>España</key>
	<dict>
		<key>CountryCode</key>
		<string>34</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Svalbard</key>
	<dict>
		<key>CountryCode</key>
		<string>47</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Swazilandia</key>
	<dict>
		<key>CountryCode</key>
		<string>268</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Suecia</key>
	<dict>
		<key>CountryCode</key>
		<string>46</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Siria</key>
	<dict>
		<key>CountryCode</key>
		<string>963</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Suiza</key>
	<dict>
		<key>CountryCode</key>
		<string>41</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Taiwan</key>
	<dict>
		<key>CountryCode</key>
		<string>886</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>002</string>
	</dict>
	<key>Tayikistán</key>
	<dict>
		<key>CountryCode</key>
		<string>992</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Tanzania</key>
	<dict>
		<key>CountryCode</key>
		<string>255</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Tailandia</key>
	<dict>
		<key>CountryCode</key>
		<string>66</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>001</string>
	</dict>
	<key>Timor Oriental</key>
	<dict>
		<key>CountryCode</key>
		<string>670</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Togo</key>
	<dict>
		<key>CountryCode</key>
		<string>228</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tokelau</key>
	<dict>
		<key>CountryCode</key>
		<string>690</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Tonga</key>
	<dict>
		<key>CountryCode</key>
		<string>676</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Trinidad y Tobago</key>
	<dict>
		<key>CountryCode</key>
		<string>1868</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Túnez</key>
	<dict>
		<key>CountryCode</key>
		<string>216</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Turquía</key>
	<dict>
		<key>CountryCode</key>
		<string>90</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Turkmenistán</key>
	<dict>
		<key>CountryCode</key>
		<string>993</string>
		<key>Mobile</key>
		<string>6</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Islas Turcas y Caicos</key>
	<dict>
		<key>CountryCode</key>
		<string>649</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>0</string>
	</dict>
	<key>Tuvalu</key>
	<dict>
		<key>CountryCode</key>
		<string>688</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Uganda</key>
	<dict>
		<key>CountryCode</key>
		<string>256</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>000</string>
	</dict>
	<key>Ucrania</key>
	<dict>
		<key>CountryCode</key>
		<string>380</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Emiratos Árabes Unidos</key>
	<dict>
		<key>CountryCode</key>
		<string>971</string>
		<key>Mobile</key>
		<string>5</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Reino Unido</key>
	<dict>
		<key>CountryCode</key>
		<string>44</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Islas Vírgenes Americanas</key>
	<dict>
		<key>CountryCode</key>
		<string>1340</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Uruguay</key>
	<dict>
		<key>CountryCode</key>
		<string>598</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Estados Unidos</key>
	<dict>
		<key>CountryCode</key>
		<string>1</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>011</string>
	</dict>
	<key>Uzbekistán</key>
	<dict>
		<key>CountryCode</key>
		<string>998</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>810</string>
	</dict>
	<key>Ciudad del Vaticano</key>
	<dict>
		<key>CountryCode</key>
		<string>379</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Vanuatu</key>
	<dict>
		<key>CountryCode</key>
		<string>678</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Venezuela</key>
	<dict>
		<key>CountryCode</key>
		<string>58</string>
		<key>Mobile</key>
		<string>4</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Vietnam</key>
	<dict>
		<key>CountryCode</key>
		<string>84</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Sahara Occidental</key>
	<dict>
		<key>CountryCode</key>
		<string>212</string>
		<key>Mobile</key>
		<string></string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Jemen</key>
	<dict>
		<key>CountryCode</key>
		<string>967</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Zambia</key>
	<dict>
		<key>CountryCode</key>
		<string>260</string>
		<key>Mobile</key>
		<string>9</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
	<key>Zimbabwe</key>
	<dict>
		<key>CountryCode</key>
		<string>263</string>
		<key>Mobile</key>
		<string>7</string>
		<key>Prefix</key>
		<string>00</string>
	</dict>
</dict>
</plist>
